<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-Type" content="text/html">
    <title>edit</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        button{
            padding: 10px;
        }
        .right{
            position: relative;

            left: 200px;

            padding: 10px;
        }
        .comments{
            left: 40%;
            position: absolute;
            top: 49%;

            margin: 10px;
        }
        #coms{
            padding-top: 30px;

        }

    </style>
    <script>var badboy="bad boy";</script>
</head>
<body>
<form action="/">
    <button type="submit" value="Go home" class="btn btn-success">Home</button>
</form>
<div class="container">
    <form action="edit">
    <p>
        <th:block>
           <span>Editing book with ISBN = </span> <input style="border: none; border-color: transparent; " type="text" name="oldISBN" th:value="${num}" readonly>
         </th:block>
    </p>

        <table class="table">
            <tr>
                <td>
                    New ISBN
                </td>
                <td>
                    <input type="text" name="ISBN">
                </td>
            </tr>
            <tr>
                <td>
                    New author
                </td>
                <td>
                    <input type="text" name="newauthor">
                </td>
            </tr>
            <tr>
                <td>
                    New title
                </td>
                <td>
                    <input type="text" name="newtitle">
                </td>
            </tr>
        </table>
        <button type="submit" VALUE="update" class="btn btn-primary">Update</button>
    </form>
</div>
<div class="container" id="coms">
    <h4>Comments</h4>
    <form action="addcomment">
        <table>
            <tr>
                <td>
                    Comment:
                </td>
                <td>

                    <textarea placeholder="inject your sql here.." name="newComment" class="form-control" rows="3" id="comment"></textarea>
                </td>
            </tr>
        </table>
        <button type="submit"  class="btn btn-primary">add Comment</button>
    </form>
    <div class="comments">
    <table class="right">
    <th:block th:each="comment : ${m}">
        <tr>
            <td>
                <span><b>Date</b></span>
            <span th:text="${comment.getDate()}">...</span>
            </td>
        </tr>
        <tr>
            <td>
                <span><b>comment</b></span>
            <span th:text="${comment.getComment()}">...</span>
            </td>
        </tr>


    </th:block>
    </table>
    </div>
</div>
<script th:text="${script}"></script>
</body>
</html>