

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html">
    <title>HOME</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h4>Home page</h4>
<form action="addbook">
    <button type="submit" class="btn btn-success">add a book</button>
</form>
<table class="table">
    <tr>
        <td>
            ISBN
        </td>
        <td>
            TITLE
        </td>
        <td>
            AUTHOR
        </td>
        <td>
            COMMENTS
        </td>
        <td>
            EDIT
        </td>
        <td>
            DELETE
        </td>
    </tr>
    <th:block th:each="book : ${m}">
        <tr>
            <td th:text="${book.getIsbn()}">...</td>
            <td th:text="${book.getTitle()}">...</td>
            <td th:text="${book.getAuthor()}">...</td>
            <td th:text="${book.getComments()}">...</td>
            <td><form action="editbook">
                <button  style=" width:40px; height:40px;background: url(edit.jpg);"  th:value="${book.getIsbn()}"  name="isbn" type="submit"></button>
            </form></td>
            <td><form action="deletebook">
                <button style=" width:40px; height:40px;background: url(silver.jpg);"  th:value="${book.getIsbn()}" name="isbn" type="submit" ></button>
            </form></td>

        </tr>
    </th:block>

</table>


</body>
</html>
